[Desktop Entry]
Version=1.0
Type=Application
Name=Soulseek
Comment=Soulseek Music
Exec=soulseek
Icon=/opt/soulseek/soulseek.png
Path=/usr/bin
Terminal=false
StartupNotify=false
